* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

}

.countainer {
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
}

.column {
    display: inline-block;
    height: 100%;
    width: 31%;
    padding: 10px 0;
}

.imgblock {
    position: relative;
}

.imgblock,
.imgblock .overlay
.imgblock .imglay
.imgblock .greenlay {

    height: 100%;
    width: 100;
    
}
.imgblock .overlay
.imgblock .imglay
.imgblock .greenlay {
    position: absolute;
    top: 0;
    left: 0;
}
.overlay {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    opacity: 0;
    transition: 0.5s;

}

.imgblock:hover .overlay {
    z-index: 0;
    overflow: hidden;
    opacity: 0.6;
    background-color: rgb(17, 184, 17);
    transform: translate(-10px, -10px);
}
 .imglay {
     z-index: 2;
     overflow: hidden;

 }
 .imgblock .imglay .img {
     height: 100%;
     width: 100%;
     object-position: center center;
     object-fit: cover;
 }
 .imgblock .greenlay {
     background-color: wheat;
     z-index: 1;
 }
 .imgblock:hover .imglay {
     transform: translate(-10px, -10px);
 }

.container1 {
    background-color: yellow;
    background: linear-gradient(to right, blue, red);
    border-radius: 50px;
    height: 40px;
    width: 75px;
    position: relative;
}
.comtainer1 .switch input {
    /* -webkit-appearance: none; */
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}

input::before {
    background-color: white;
    width: 85%;
    height: 70%;
    content: "";
    position: absolute;
    border-radius: 50px;
    top: 50%;
    transform: translate(0, -50%);

}

input::after {
    background: linear-gradient(to right, orange, blue);
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 50px;
    position: absolute;
    top: 20%;
    /* transform: translaste(2px, 50%); */


}
input:checked::after {
    opacity: 1;
    transform: translate(100%, 0%);
}
 



